<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Veículos</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Gerenciar</a>
        </li>
      </ul>
      <button class="button-custom background-custom-color text-white" (click)="onOpenModal()">
        <i class="fas fa-plus"></i>
        Criar
      </button>
    </div>
  </div>
</nav>
